body {
  background-color: #2c3e50;
  color: aliceblue;
}
h1 {
  color: aliceblue;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
